.card-position{
    margin-top: 0px;
}
@media (min-width: 992px) {
  .card-position {
   transform: translateY(-40px);
  }
}
// 卡片
.diary-blur{
    backdrop-filter: blur(100px);
    background:radial-gradient(ellipse 90% 90% at center,#DFF2EB,#cde8fa);
}

.diary-card-top{
   background-color: #fffefc;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.157);
}

.diary-card-bottom{
    border-radius: 10px;
    background: #FCFBF9;
}

// 右邊日記
.diary-text{
    white-space: pre-line;
    line-height: 2;
}

.diary-img {
  width: 100%;
  height: 220px; 
  border-radius: 10px;
  overflow: hidden; 
}

.diary-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

// 左邊月曆
.calendar-btn{
    border-radius: 50rem;
    background-color: #104754;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.calendar-arrow{
    color: white;
}
// .calendar-btn:hover{
//     background-color: #6DB0B5;
// }
.cal-date{
    margin-top: 32px;
    line-height: 1.5;
}
.cal-mood{
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
}