body {
  overflow-x: hidden;
  width: 100%;
}

.sky-container {
  min-height: 100vh;
  position: relative;
  width: 100%;

  p {
    font-size: 20px;
  }
}

.clouds-stage-outer {
  width: 100%;
  margin-top: 20px;
  padding-top: 40px;
}

.clouds-wrapper {
  position: relative;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  height: 900px;
}

// RWD 定位

@media (max-width: 1440px) {
  .sky-container {
    p {
      font-size: 16px;
    }
  }

  .cloud-content-wrapper {
    .cloud-label {
      font-size: 20px !important;
    }
  }

  // 孤獨 (ID:1)
  .cloud-style-1 {
    left: -3%;
  }

  // 悲傷 (ID:5)
  .cloud-style-5 {
    left: 86%;
  }

  // 焦慮 (ID:8)
  .cloud-style-8 {
    top: 40%;
    left: 15%;
  }

  // 興奮 (ID:9)
  .cloud-style-9 {
    left: -8%;
  }

  // 壓力過大 (ID:11)
  .cloud-style-11 {
    left: 72%;
  }
}

@media (max-width: 991px) {
  .sky-container {
    p {
      font-size: 16px;
    }
  }

  .clouds-wrapper {
    height: 750px;
    transform: scale(0.9);
    transform-origin: top center;
    width: 100%;
  }

  // 孤獨 (ID:1)
  .cloud-style-1 {
    top: -5%;
    left: -5%;
    width: 50%;
  }

  // 憤怒 (ID:2)
  .cloud-style-2 {
    top: 20%;
    left: 2%;
    width: 50%;
  }

  // 自我懷疑 (ID:3)
  .cloud-style-3 {
    top: -5%;
    left: 35%;
    width: 45%;
  }

  // 開心 (ID:4)
  .cloud-style-4 {
    top: 10%;
    left: 55%;
    width: 50%;
  }

  // 悲傷 (ID:5)
  .cloud-style-5 {
    top: 30%;
    left: 70%;
    width: 50%;
  }


  // 喜悅 (ID:6)
  .cloud-style-6 {
    top: 35%;
    left: 35%;
    width: 45%;
    z-index: 5;
  }

  // 平靜 (ID:7)
  .cloud-style-7 {
    top: 55%;
    left: 70%;
    width: 45%;
  }

  // 焦慮 (ID:8)
  .cloud-style-8 {
    top: 40%;
    left: -8%;
    width: 50%;
  }

  // 興奮 (ID:9)
  .cloud-style-9 {
    top: 70%;
    left: -5%;
    width: 45%;
  }

  // 低落 (ID:10)
  .cloud-style-10 {
    top: 60%;
    left: 30%;
    width: 50%;
  }

  // 壓力過大 (ID:11)
  .cloud-style-11 {
    top: 75%;
    left: 55%;
    width: 50%;
  }
}

@media (max-width: 576px) {
  .sky-container {
    p {
      font-size: 16px;
    }
  }

  .cloud-content-wrapper {
    .cloud-label {
      font-size: 16px !important;
    }
  }

  .cloud-btn {
    width: 55%;
  }

  // 孤獨 (ID:1)
  .cloud-style-1 {
    top: -3%;
    left: -5%;
    width: 60%;
  }

  // 憤怒 (ID:2)
  .cloud-style-2 {
    top: 18%;
    left: -5%;
  }

  // 自我懷疑 (ID:3)
  .cloud-style-3 {
    top: -3%;
    left: 45%;
    width: 55%;
  }

  // 開心 (ID:4)
  .cloud-style-4 {
    top: 77%;
    left: -5%;
    width: 60%;
  }

  // 悲傷 (ID:5)
  .cloud-style-5 {
    top: 82%;
    left: 42%;
  }

  // 喜悅 (ID:6)
  .cloud-style-6 {
    top: 48%;
    left: 57%;
    width: 50%;
  }

  // 平靜 (ID:7)
  .cloud-style-7 {
    top: 58%;
    left: 6%;
  }

  // 焦慮 (ID:8)
  .cloud-style-8 {
    top: 30%;
    left: 25%;
    z-index: 5;
  }

  // 興奮 (ID:9)
  .cloud-style-9 {
    top: 14%;
    left: 53%;
    width: 50%;
  }

  // 低落 (ID:10)
  .cloud-style-10 {
    top: 46%;
    left: 0%;
  }

  // 壓力過大 (ID:11)
  .cloud-style-11 {
    top: 60%;
    left: 50%;
    width: 60%;
  }
}