.cardPosition {
  margin-top: 0px;
}
@media (min-width: 992px) {
  .cardPosition {
    transform: translateY(-40px);
  }
}

// 卡片
.diaryBlur {
  position: relative;
}

.diaryBlur::before {
  content: "";
  position: absolute;

  left: -10%;
  right: -10%;
  top: -20%;
  bottom: -15%;

  background-image: url("../../../assets/shadow-horizontal.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  z-index: 0;
  pointer-events: none;
}

.diaryCardTop {
  position: relative;
  z-index: 1;
  background-color: #fffefc;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.157);
}

.diaryCardBottom {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background: #fcfbf9;
}

// 右邊日記
.diaryText {
  white-space: pre-line;
  line-height: 2;
  letter-spacing: 0.02em;
}

.diaryImg {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

// 左邊月曆
.calendarTable {
  table-layout: fixed;
  vertical-align: top;
  width: 100%;
}

.calendarTable th {
  padding: 10px 0 20px 0;
}
.calendarTable th,
.calendarTable td {
  width: calc(100% / 7);
  text-align: center;
  vertical-align: top;
}

.calendarTable tbody tr {
  height: 90px;
}

.moodStamp {
  width: 40px;
  height: 40px;
  object-fit: contain;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
}

.calendarBtn {
  border: transparent;
  border-radius: 50rem;
  background-color: var(--bs-primary-05);
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendarBtn:hover:not(:disabled) {
  border: none;
  background-color: var(--bs-primary-03);
  transition: all 0.5s ease;
  transform: translateY(-2px);
}
.calendarBtn:disabled {
  background-color: var(--bs-black-100);
}

.calendarArrow {
  color: white;
}
.calendarBtn:disabled .calendarArrow {
  color: var(--bs-black-300);
}

.calCell {
  height: 80px;
  justify-content: flex-start;
  border-radius: 20px;
  box-sizing: border-box;
}

.calCellSelectable:hover {
  border: 3px solid var(--bs-primary-01);
}

.calCellSelected {
  background-color: #f1fcf8;
  border: 3px solid var(--bs-primary-02);
}

.calCellDisabled {
  pointer-events: none;
}

.calDate {
  font-size: 16px;
  margin-top: 5px;
  line-height: 1.5;
  color: var(--bs-primary-05);
  font-weight: bold;
}

.calDateNoMood {
  color: var(--bs-black-500);
  font-weight: 400;
}
.calMood {
  display: flex;
  justify-content: center;
}
.moodPlaceholder {
  width: 40px;
  height: 40px;
  display: block;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}
.diaryPanel {
  scroll-margin-top: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loadingDiv {
  background: #f4f3f3;
  border-radius: 6px;
}

@media (max-width: 991.98px) {
  .diaryBlur::before {
    background-image: url("../../../assets/shadow-vertical.png");
    left: 0%;
    right: 0%;
    top: -8%;
    bottom: -8%;
  }
  .diaryLeft {
    transform: translateY(-30px);
  }
  .diaryRight {
    transform: translateY(30px);
  }

  .calDate {
    font-size: 14px;
  }
  .calCell {
    border-radius: 10px;
  }
  .moodStamp {
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }
  .calendarBtn {
    width: 40px;
    height: 40px;
  }
}
