.bg-playlist {
  background: linear-gradient(to bottom, #cde8fa, #ffffff80);
}

.tag-playlist {
  background: linear-gradient(to bottom, #ffffff, #b9e5e8);
  border-radius: 20px;
  border: 3px solid #fff;
}
