.mainPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.btnOutline {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  color: var(--bs-primary-05);
  background-color: white;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  border: 2px solid var(--bs-primary-05);
  border-radius: 100px;
  padding: 8px 16px;
}

.btnOutline:hover {
  background-color: var(--bs-primary-02);
  transition: 0.5s ease;
}

.btnFilled {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  color: white;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  border: none;
  background-color: var(--bs-primary-05);
  border-radius: 100px;
  padding: 8px 16px;
}

.btnFilled:hover {
  border: none;
  background-color: var(--bs-primary-03);
  transition: 0.5s ease;
}

.arrowIcon {
  width: 24px;
  height: 24px;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.calPhoto {
  width: 100%;
  max-width: 636px;
  height: 100%;
  display: block;
  border-radius: 20px;
}

.diaryDemoPhoto {
  max-width: 550px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}
.section {
  position: relative;
}
.cloudR {
  position: relative;
}
.cloud1 {
  position: absolute;
  left: 75%;
  top: 70%;
  width: 292px;
  z-index: 0;
  pointer-events: none;
}

.cloud2 {
  position: absolute;
  left: 69%;
  top: 78%;
  width: 240px;
  z-index: 0;
  pointer-events: none;
}

.lineSvg2 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.lineSvg3 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

// 點擊查看心情記事
.labelS2 {
  position: absolute;
  left: 3%;
  top: 14%;
  font-size: 20px;
}
// 為今天的自己做個總結
.labelS301 {
  position: absolute;
  left: 4%;
  top: 29%;
  font-size: 20px;
}
// 記錄當日心情
.labelS302 {
  position: absolute;
  left: 80%;
  top: 24%;
  font-size: 20px;
}
// 自由放上一張代表今天的照片
.labelS303 {
  position: absolute;
  left: -1%;
  top: 67%;
  font-size: 20px;
}
// 寫下回憶小碎片
.labelS304 {
  position: absolute;
  left: 80%;
  top: 44.5%;
  font-size: 20px;
}

.onlyDesktop {
  display: block;
}
.onlyMobile {
  display: none;
}
@media (max-width: 992px) {
  .onlyDesktop {
    display: none;
  }
  .onlyMobile {
    display: block;
  }
  .arrowIcon {
    width: 20px;
    height: 20px;
  }
  .cloud1 {
    position: absolute;
    left: 68%;
    top: 88%;
    width: 104px;
    z-index: 0;
    pointer-events: none;
  }
  .cloud2 {
    position: absolute;
    left: 68%;
    top: 92%;
    width: 104px;
    z-index: 0;
    pointer-events: none;
  }
  .labelS2 {
    position: absolute;
    left: 10%;
    top: 9%;
    font-size: 14px;
  }
  .labelS301 {
    position: absolute;
    left: 5%;
    top: 14%;
    font-size: 14px;
  }
  .labelS302 {
    position: absolute;
    left: 44%;
    top: 17%;
    font-size: 14px;
  }
  .labelS303 {
    position: absolute;
    left: 3%;
    top: 79%;
    font-size: 14px;
  }
  .labelS304 {
    position: absolute;
    left: 68%;
    top: 78%;
    font-size: 14px;
  }
}
