.marginY {
  margin-top: 100px;
}

.mainPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.btnOutline {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  color: var(--bs-primary-05);
  background-color: white;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  border: 2px solid var(--bs-primary-05);
  border-radius: 100px;
  padding: 8px 16px;
}

.btnOutline:hover {
  background-color: var(--bs-primary-02);
  transition: 0.5s ease;
}

.btnFilled {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  color: white;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  border: none;
  background-color: var(--bs-primary-05);
  border-radius: 100px;
  padding: 8px 16px;
}

.btnFilled:hover {
  border: none;
  background-color: var(--bs-primary-03);
  transition: 0.5s ease;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.calPhoto {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.diaryDemoPhoto {
  max-width: 550px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}
.section1 {
  position: relative;
}
.cloud1 {
  position: absolute;
  right: -15%;
  bottom: 15px;
  width: 292px;
  z-index: 0;
  pointer-events: none;
}

.section2 {
  position: relative;
  width: 100%;
}
.cloud2 {
  position: absolute;
  right: 6%;
  bottom: 50px;
  width: 240px;
  z-index: 0;
  pointer-events: none;
}

.lineSvg2 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.section3 {
  position: relative;
}
.lineSvg3 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
