.diaryBlur {
  position: relative;
  padding: 32px;
  overflow: visible;
}
.cloud {
  position: absolute;
  right: -13%;
  top: 20%;
  width: 200px;
}

.diaryBlur::before {
  content: "";
  position: absolute;

  left: -8%;
  right: -8%;
  top: -15%;
  bottom: -10%;

  background-image: url("../../assets/shadow-horizontal.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

  z-index: 0;
  pointer-events: none;
}

.diaryCardTop {
  position: relative;
  transform: translateY(-40px);
  z-index: 1;
  background-color: #fffefc;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.157);
}

.diaryCardBottom {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background: #fcfbf9;
}

.diaryCard {
  position: relative;
  z-index: 1;
  background-color: #fffefc;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.157);
}

.formCheck {
  display: block;
  min-height: 1rem;
  padding-left: 0.25em;
  margin-bottom: 0.125rem;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.moodSpan {
  font-size: 20px;
  color: #505050;
  border: 1px solid var(--bs-primary-03);
  border-radius: 20px;
  white-space: nowrap;
}

.moodText {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: var(--bs-primary-04);
  white-space: nowrap;
}

.moodStamp {
  width: 30px;
  height: 30px;
  object-fit: contain;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
}

.moodBtn {
  border: 2px solid transparent;
  color: rgb(53, 38, 38);
  line-height: 1.5;
  border-radius: 10px;
  padding: 4px 6px;
}

.moodBtn:hover {
  border: 2px solid var(--bs-primary-01);
}

.checked:checked + .moodBtn {
  border: 2px solid var(--bs-primary-02);
  background-color: #f1fcf8;
  color: var(--bs-primary-05);
  transform: translateY(-2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.diaryPreviewContent {
  white-space: pre-wrap;
  line-height: 2;
  letter-spacing: 0.02em;
}

.diaryImg {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
}

.btnOutline {
  display: inline-flex;
  align-items: center;

  color: var(--bs-primary-05);
  background-color: white;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  border: 2px solid var(--bs-primary-05);
  border-radius: 100px;
  padding: 8px 16px;
}

.btnOutline:hover {
  background-color: var(--bs-primary-02);
  transition: 0.5s ease;
}

.btnFilled {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  color: white;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  border: none;
  background-color: var(--bs-primary-05);
  border-radius: 100px;
  padding: 8px 16px;
}

.btnFilled:hover {
  border: none;
  background-color: var(--bs-primary-03);
  transition: 0.5s ease;
  text-shadow: 1px;
}
.uploadBtn {
  display: inline-flex;
  align-items: center;

  color: var(--bs-primary-05);
  background-color: white;
  font-size: 16px;
  letter-spacing: 0.05em;
  border: 1px solid var(--bs-primary-04);
  border-radius: 10px;
}
.uploadBtn:hover {
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.2s ease;
  background-color: #f1fcf8;
  transform: translateY(-1px);
}

.uploadInput {
  display: none;
}
.onlyDesktop {
  display: block;
}
.onlyMobile {
  display: none;
}

@media (max-width: 991.98px) {
  .diaryBlur::before {
    background-image: url("../../assets/shadow-vertical.png");
    left: -35%;
    right: -35%;
    top: -8%;
    bottom: -10%;
  }
  .onlyDesktop {
    display: none;
  }
  .onlyMobile {
    display: block;
  }
  .moodSpan {
    font-size: 14px;
  }
  .uploadBtn {
    font-size: 14px;
  }
}
