.footer-nav {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.footer-Body-B2 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.site-footer {
  position: relative;
  overflow: hidden;
  background-color: var(--bs-BG-02);
}

/* 左下雲 */
.footer-cloud-left {
  position: absolute;
  left: 5%;
  bottom: 40px;
  width: 250px;
  opacity: 0.9;
  z-index: 0;
  pointer-events: none;
}

/* Footer 內容一定在雲上 */
.site-footer {
  position: relative;
  z-index: 1;
}

/* RWD */
@media (max-width: 992px) {
  .footer-cloud-left {
    left: 2%;
    bottom: 100px;
    width: 160px;
  }

  .footer-logo {
    max-height: 50px;
  }
}

@media (max-width: 576px) {
  .footer-cloud-left {
    left: 2%;
    bottom: 140px;
    width: 100px;
  }

  .footer-logo {
    max-height: 50px;
  }

  .footer-copy {
    font-size: 14px;
  }
}
