.player {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 999;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.15);
  .miniPlayer {
    width: 100vw;
  }
}
@include media-breakpoint-up(md) {
  .player {
    bottom: 0px;
    right: 0px;
    width: auto;
    height: auto;
    border-radius: 16px;
    .miniPlayer {
      width: 548px;
    }
    .playlist {
      height: 320px;
    }
  }
}

.list-item {
  &:hover {
    .item-play {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .item-play {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }
}

.playlist-scroll {
  flex: 1;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  li {
    height: 40px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

/* playlist預設不顯示 */
.playlist-play-btn {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* hover 歌單卡片時顯示 */
.tag-playlist:hover .playlist-play-btn {
  opacity: 1;
  pointer-events: auto;
}

/* current list：永遠顯示 */
.playlist-play-btn.is-current {
  opacity: 1;
  pointer-events: auto;
}

/*  */
.volume-panel {
  position: absolute;
  width: 120px;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: rotate(-90deg);
}
.volume-panel-bar {
  bottom: 70px;
  left: -35px;
}

.volume-panel-mini {
  left: -35px;
  bottom: 70px;
}

input.sidebar {
  --c: #104754; /* active color */
  --g: 0px; /* the gap */
  --l: 3px; /* line thickness*/
  --s: 10px; /* thumb size*/

  width: 400px;
  height: var(--s); /* needed for Firefox*/
  --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

input.sidebar:focus-visible,
input.sidebar:hover {
  --p: 25%;
}

input.sidebar:active,
input.sidebar:focus-visible {
  --_b: var(--s);
}

/* chromium */
input.sidebar[type="range" i]::-webkit-slider-thumb {
  height: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  /* box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c); */
  background: var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 / calc(50% - var(--l) / 2)
    100vw/0 calc(100vw + var(--g));
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
}

/* Firefox */
input.sidebar[type="range"]::-moz-range-thumb {
  height: var(--s);
  width: var(--s);
  background: none;
  border-radius: 50%;
  /* box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c); */
  background: var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 / calc(50% - var(--l) / 2)
    100vw/0 calc(100vw + var(--g));
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
}

@supports not (color: color-mix(in srgb, red, red)) {
  input.sidebar {
    --_c: var(--c);
  }
}
